<!DOCTYPE html>
    <html>
    <head>
        <title>Hoc Javascript</title>
        <script src="/js/JavaScriptHoc.js"></script>
    </head>
    <body>
    <h1>Chào mừng đến khóa học Javascript</h1>
    </body>
    </html>
